@using HairSalon.Models;
@{
    Layout = "_Layout";
}
<h1> We are happy to welcome you at our Hair Salon</h1>
<h2>Please enter information.</h2>

<form action='/stylists/update' method='post'>

    <label for='name'>Edit stylist name:</label>
    <input id='name' name='name' type='text' value="@Model.Name" />
    <input id='id' name='id' type='hidden' value="@Model.Id" />

    <button type='submit'>Update stylist</button>
</form>

<p>
    <a href='/'>Return to Main Page</a>
</p>