@using HairSalon.Models;
@{
    Layout = "_Layout";
}

<h2>Please enter information.</h2>

<form action='/specialities/new' method='post'>

    <label for='name'>Enter specialty name:</label>
    <input id='name' name='name' type='text'>
    <button type='submit'>Add specialty</button>
</form>

<p>
    <a href='/'>Return to Main Page</a>
</p>
