@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<h1> We are happy to welcome you at our Hair Salon</h1>
<h2>Please enter client information.</h2>

<form action='/clients/new?stylistId=@Context.Request.Query["stylistId"]' method='post'>

  <label for='info'>Enter client info:</label>
  <input id='info' name='info' type='text'>

  <button type='submit'>Add client</button>
</form>

<p><a href='/'>Return to Main Page</a></p>
